<div class="flexrow">
  <div>
    <span class=""><strong>Damage</strong></span><br>
    <input type="radio" id="forceDamage0" name="forceDamage" class="radio-selected-force-fd" data-cost="1" {{#if (eq costDamage 1)}}checked{{/if}}>
    <label for="forceDamage0">Damage of d4 (1 cost)</label><br/>
    <input type="radio" id="forceDamage1" name="forceDamage" class="radio-selected-force-fd" data-cost="4" {{#if (eq costDamage 4)}}checked{{/if}}>
    <label for="forceDamage1">Damage of d6 (4 cost)</label><br/>
    <input type="radio" id="forceDamage2" name="forceDamage" class="radio-selected-force-fd" data-cost="7" {{#if (eq costDamage 7)}}checked{{/if}}>
    <label for="forceDamage2">Damage of d8 (7 cost)</label><br/>
    <input type="radio" id="forceDamage3" name="forceDamage" class="radio-selected-force-fd" data-cost="10" {{#if (eq costDamage 10)}}checked{{/if}}>
    <label for="forceDamage3">Damage of d10 (10 cost)</label><br/>
    <input type="radio" id="forceDamage4" name="forceDamage" class="radio-selected-force-fd" data-cost="13" {{#if (eq costDamage 13)}}checked{{/if}}>
    <label for="forceDamage4">Damage of d12 (13 cost)</label><br/>
  </div>
</div>
