<div class="flexrow">
  <div>
    <span class=""><strong>Damage Dice</strong></span><br/>
    <input type="radio" id="damageDice0" name="damageDice" class="radio-selected-destroy-dd" data-cost="1" {{#if (eq costDamage 1)}}checked{{/if}}>
    <label for="damageDice0">Two dice of base damage (1 cost)</label><br/>
    <input type="radio" id="damageDice1" name="damageDice" class="radio-selected-destroy-dd" data-cost="3" {{#if (eq costDamage 3)}}checked{{/if}}>
    <label for="damageDice1">Three dice of base damage (3 cost)</label><br/>
    <input type="radio" id="damageDice2" name="damageDice" class="radio-selected-destroy-dd" data-cost="5" {{#if (eq costDamage 5)}}checked{{/if}}>
    <label for="damageDice2">Four dice of base damage (5 cost)</label><br/>
    <input type="radio" id="damageDice3" name="damageDice" class="radio-selected-destroy-dd" data-cost="7" {{#if (eq costDamage 7)}}checked{{/if}}>
    <label for="damageDice3">Five dice of base damage (7 cost)</label><br/>
    <input type="radio" id="damageDice4" name="damageDice" class="radio-selected-destroy-dd" data-cost="9" {{#if (eq costDamage 9)}}checked{{/if}}>
    <label for="damageDice4">Six dice of base damage (9 cost)</label><br/>
  </div>
  <div>
    <span class=""><strong>Weapon Type</strong></span><br/>
    <input type="radio" id="destroyType0" name="destroyType" class="radio-selected-destroy-dt" data-cost="0" {{#if (eq costType 0)}}checked{{/if}}>
    <label for="destroyType0">Standard Weapon (0 cost)</label><br/>
    <input type="radio" id="destroyType1" name="destroyType" class="radio-selected-destroy-dt" data-cost="10" {{#if (eq costType 10)}}checked{{/if}}>
    <label for="destroyType1">Heavy Weapon (10 cost)</label><br/>
  <br/>
    <span class=""><strong>Resistance</strong></span><br/>
    <input type="radio" id="damageResistance0" name="damageResistance" class="radio-selected-destroy-dr" data-cost="1" {{#if (eq costResistance 1)}}checked{{/if}}>
    <label for="damageResistance0">Easy Magic Penalty (1 cost)</label><br/>
    <input type="radio" id="damageResistance1" name="damageResistance" class="radio-selected-destroy-dr" data-cost="4" {{#if (eq costResistance 4)}}checked{{/if}}>
    <label for="damageResistance1">Moderate Magic Penalty (4 cost)</label><br/>
    <input type="radio" id="damageResistance2" name="damageResistance" class="radio-selected-destroy-dr" data-cost="7" {{#if (eq costResistance 7)}}checked{{/if}}>
    <label for="damageResistance2">Stiff Magic Penalty (7 cost)</label><br/>
    <input type="radio" id="damageResistance3" name="damageResistance" class="radio-selected-destroy-dr" data-cost="10" {{#if (eq costResistance 10)}}checked{{/if}}>
    <label for="damageResistance3">Sheer Folly Magic Penalty (10 cost)</label><br/>
    <input type="radio" id="damageResistance4" name="damageResistance" class="radio-selected-destroy-dr" data-cost="13" {{#if (eq costResistance 13)}}checked{{/if}}>
    <label for="damageResistance4">Near Impossible Magic Penalty (13 cost)</label><br/>
    <input type="radio" id="damageResistance5" name="damageResistance" class="radio-selected-destroy-dr" data-cost="16" {{#if (eq costResistance 16)}}checked{{/if}}>
    <label for="damageResistance5">Near Impossible Magic Penalty (16 cost)</label><br/>
  </div>
</div>


