<div class="flexrow">
  <div>
    <span class=""><strong>Damage</strong></span><br>
    <input type="radio" id="waterDamage0" name="waterDamage" class="radio-selected-water-wd" data-cost="1" {{#if (eq costDamage 1)}}checked{{/if}}>
    <label for="waterDamage0">Damage of d4 (1 cost)</label><br/>
    <input type="radio" id="waterDamage1" name="waterDamage" class="radio-selected-water-wd" data-cost="4" {{#if (eq costDamage 4)}}checked{{/if}}>
    <label for="waterDamage1">Damage of d6 (4 cost)</label><br/>
    <input type="radio" id="waterDamage2" name="waterDamage" class="radio-selected-water-wd" data-cost="7" {{#if (eq costDamage 7)}}checked{{/if}}>
    <label for="waterDamage2">Damage of d8 (7 cost)</label><br/>
    <input type="radio" id="waterDamage3" name="waterDamage" class="radio-selected-water-wd" data-cost="10" {{#if (eq costDamage 10)}}checked{{/if}}>
    <label for="waterDamage3">Damage of d10 (10 cost)</label><br/>
    <input type="radio" id="waterDamage4" name="waterDamage" class="radio-selected-water-wd" data-cost="13" {{#if (eq costDamage 13)}}checked{{/if}}>
    <label for="waterDamage4">Damage of d12 (13 cost)</label><br/>
  </div>
</div>
