<div class="flexrow">
  <div>
    <span class=""><strong>Target</strong></span><br>
    <input type="radio" id="meTarget0" name="meTarget" class="radio-selected-me-mt" data-cost="1" {{#if (eq costTarget 1)}}checked{{/if}}>
    <label for="meTarget0">Yourself only (1 cost)</label><br/>
  </div>
</div>
