<div class="flexrow">
  <div>
    <span class=""><strong>Repair</strong></span><br/>
    <input type="radio" id="repairDice0" name="repairDice" class="radio-selected-repair-rd" data-cost="10" {{#if (eq costRepair 10)}}checked{{/if}}>
    <label for="repairDice0">Convert damage to health for inanimate object (10 cost)</label><br/>
    <input type="radio" id="repairDice1" name="repairDice" class="radio-selected-repair-rd" data-cost="15" {{#if (eq costRepair 15)}}checked{{/if}}>
    <label for="repairDice1">Convert damage to health for cybernetics (15 cost)</label><br/>
    <input type="radio" id="repairDice2" name="repairDice" class="radio-selected-repair-rd" data-cost="20" {{#if (eq costRepair 20)}}checked{{/if}}>
    <label for="repairDice2">Convert damage to health for organic creature (20 cost)</label><br/>
  </div>
  <div>
    <span class=""><strong>Size</strong></span><br/>
    <input type="radio" id="repairSize0" name="repairSize" class="radio-selected-repair-rs" data-cost="2" {{#if (eq costSize 2)}}checked{{/if}}>
    <label for="repairSize0">Wisp (less than 5 foot cubed in size) (2 cost)</label><br/>
    <input type="radio" id="repairSize1" name="repairSize" class="radio-selected-repair-rs" data-cost="3" {{#if (eq costSize 3)}}checked{{/if}}>
    <label for="repairSize1">Stalker (less than 10 foot cubed in size) (3 cost)</label><br/>
    <input type="radio" id="repairSize2" name="repairSize" class="radio-selected-repair-rs" data-cost="5" {{#if (eq costSize 5)}}checked{{/if}}>
    <label for="repairSize2">Crusher (less than 25 foot cubed in size) (5 cost)</label><br/>
    <input type="radio" id="repairSize3" name="repairSize" class="radio-selected-repair-rs" data-cost="8" {{#if (eq costSize 8)}}checked{{/if}}>
    <label for="repairSize3">Colossus (less than 50 foot cubed in size) (8 cost)</label><br/>
  </div>
</div>


