<div class="flexrow">
  <div>
    <span class=""><strong>Target</strong></span><br>
    <input type="radio" id="thereTarget0" name="thereTarget" class="radio-selected-there-tt" data-cost="3" {{#if (eq costTarget 3)}}checked{{/if}}>
    <label for="thereTarget0">10-foot radius (3 cost)</label><br/>
    <input type="radio" id="thereTarget1" name="thereTarget" class="radio-selected-there-tt" data-cost="5" {{#if (eq costTarget 5)}}checked{{/if}}>
    <label for="thereTarget1">15-foot radius (5 cost)</label><br/>
    <input type="radio" id="thereTarget2" name="thereTarget" class="radio-selected-there-tt" data-cost="7" {{#if (eq costTarget 7)}}checked{{/if}}>
    <label for="thereTarget2">20-foot radius (7 cost)</label><br/>
    <input type="radio" id="thereTarget3" name="thereTarget" class="radio-selected-there-tt" data-cost="9" {{#if (eq costTarget 9)}}checked{{/if}}>
    <label for="thereTarget3">25-foot radius (9 cost)</label><br/>
    <input type="radio" id="thereTarget4" name="thereTarget" class="radio-selected-there-tt" data-cost="11" {{#if (eq costTarget 11)}}checked{{/if}}>
    <label for="thereTarget4">30-foot radius (11 cost)</label><br/>
    <input type="radio" id="thereTarget5" name="thereTarget" class="radio-selected-there-tt" data-cost="2" {{#if (eq costTarget 2)}}checked{{/if}}>
    <label for="thereTarget5">10x10x1 foot wall (2 cost)</label><br/>
    <input type="radio" id="thereTarget6" name="thereTarget" class="radio-selected-there-tt" data-cost="4" {{#if (eq costTarget 4)}}checked{{/if}}>
    <label for="thereTarget6">20x10x1 foot wall (4 cost)</label><br/>
    <input type="radio" id="thereTarget7" name="thereTarget" class="radio-selected-there-tt" data-cost="6" {{#if (eq costTarget 6)}}checked{{/if}}>
    <label for="thereTarget7">30x10x1 foot wall (6 cost)</label><br/>
  </div>
</div>
