<div class="flexrow">
  <div>
    <span class=""><strong>Target</strong></span><br>
    <input type="radio" id="usTarget0" name="usTarget" class="radio-selected-us-ut" data-cost="3" {{#if (eq costTarget 3)}}checked{{/if}}>
    <label for="usTarget0">10-foot radius centered on caster (3 cost)</label><br/>
    <input type="radio" id="usTarget1" name="usTarget" class="radio-selected-us-ut" data-cost="5" {{#if (eq costTarget 5)}}checked{{/if}}>
    <label for="usTarget1">15-foot radius centered on caster (5 cost)</label><br/>
    <input type="radio" id="usTarget2" name="usTarget" class="radio-selected-us-ut" data-cost="7" {{#if (eq costTarget 7)}}checked{{/if}}>
    <label for="usTarget2">20-foot radius centered on caster (7 cost)</label><br/>
    <input type="radio" id="usTarget3" name="usTarget" class="radio-selected-us-ut" data-cost="9" {{#if (eq costTarget 9)}}checked{{/if}}>
    <label for="usTarget3">25-foot radius centered on caster (9 cost)</label><br/>
    <input type="radio" id="usTarget4" name="usTarget" class="radio-selected-us-ut" data-cost="11" {{#if (eq costTarget 11)}}checked{{/if}}>
    <label for="usTarget4">30-foot radius centered on caster (11 cost)</label><br/>
  </div>
</div>
