<div class="flexrow">
  <div>
    <span class=""><strong>Repair</strong></span><br/>
    <input type="radio" id="repairDice0" name="repairDice" class="radio-selected-repair-rd" data-cost="4" {{#if (eq costRepair 4)}}checked{{/if}}>
    <label for="repairDice0">One dice of base repair (4 cost)</label><br/>
    <input type="radio" id="repairDice1" name="repairDice" class="radio-selected-repair-rd" data-cost="10" {{#if (eq costRepair 10)}}checked{{/if}}>
    <label for="repairDice1">Two dice of base repair (10 cost)</label><br/>
    <input type="radio" id="repairDice2" name="repairDice" class="radio-selected-repair-rd" data-cost="16" {{#if (eq costRepair 16)}}checked{{/if}}>
    <label for="repairDice2">Three dice of base repair (16 cost)</label><br/>
  </div>
</div>


