<div class="flexrow">
  <div>
    <span class=""><strong>Base</strong></span><br/>
    <input type="radio" id="controllingBase0" name="controllingBase" class="radio-selected-controlling-cb" data-cost="5" {{#if (eq costBase 5)}}checked{{/if}}>
    <label for="controllingBase0">Base (5 cost)</label><br/>
  <br/>
    <span class=""><strong>Size</strong></span><br/>
    <input type="radio" id="controllingSize0" name="controllingSize" class="radio-selected-controlling-cs" data-cost="4" {{disableRadio controlling 'minor'}} {{#if (eq costSize 4)}}checked{{/if}}>
    <label for="controllingSize0">Wisp (less than 5 foot cubed in size) {minor limit} (4 cost)</label><br/>
    <input type="radio" id="controllingSize1" name="controllingSize" class="radio-selected-controlling-cs" data-cost="6" {{disableRadio controlling 'moderate'}} {{#if (eq costSize 6)}}checked{{/if}}>
    <label for="controllingSize1">Stalker (less than 10 foot cubed in size) {moderate limit} (6 cost)</label><br/>
    <input type="radio" id="controllingSize2" name="controllingSize" class="radio-selected-controlling-cs" data-cost="10" {{disableRadio controlling 'significant'}} {{#if (eq costSize 10)}}checked{{/if}}>
    <label for="controllingSize2">Crusher (less than 25 foot cubed in size) {significant limit} (10 cost)</label><br/>
    <input type="radio" id="controllingSize3" name="controllingSize" class="radio-selected-controlling-cs" data-cost="16" {{disableRadio controlling 'grand'}} {{#if (eq costSize 16)}}checked{{/if}}>
    <label for="controllingSize3">Colossus (less than 50 foot cubed in size) {grand limit} (16 cost)</label><br/>
  </div>
  <div>
    <span class=""><strong>Resistance</strong></span><br/>
    <input type="radio" id="controllingResistance0" name="controllingResistance" class="radio-selected-controlling-cr" data-cost="1" {{#if (eq costResistance 1)}}checked{{/if}}>
    <label for="controllingResistance0">Easy Magic Penalty (1 cost)</label><br/>
    <input type="radio" id="controllingResistance1" name="controllingResistance" class="radio-selected-controlling-cr" data-cost="4" {{#if (eq costResistance 4)}}checked{{/if}}>
    <label for="controllingResistance1">Moderate Magic Penalty (4 cost)</label><br/>
    <input type="radio" id="controllingResistance2" name="controllingResistance" class="radio-selected-controlling-cr" data-cost="7" {{#if (eq costResistance 7)}}checked{{/if}}>
    <label for="controllingResistance2">Stiff Magic Penalty (7 cost)</label><br/>
    <input type="radio" id="controllingResistance3" name="controllingResistance" class="radio-selected-controlling-cr" data-cost="10" {{#if (eq costResistance 10)}}checked{{/if}}>
    <label for="controllingResistance3">Sheer Folly Magic Penalty (10 cost)</label><br/>
    <input type="radio" id="controllingResistance4" name="controllingResistance" class="radio-selected-controlling-cr" data-cost="13" {{#if (eq costResistance 13)}}checked{{/if}}>
    <label for="controllingResistance4">Near Impossible Magic Penalty (13 cost)</label><br/>
    <input type="radio" id="controllingResistance5" name="controllingResistance" class="radio-selected-controlling-cr" data-cost="16" {{#if (eq costResistance 16)}}checked{{/if}}>
    <label for="controllingResistance5">Impossible Magic Penalty (16 cost)</label><br/>
  <br/>
    <span class=""><strong>Duration</strong></span><br/>
    <input type="radio" id="controllingDuration0" name="controllingDuration" class="radio-selected-controlling-cd" data-cost="1" {{#if (eq costDuration 1)}}checked{{/if}}>
    <label for="controllingDuration0">1 minute x TB (1 cost)</label><br/>
    <input type="radio" id="controllingDuration1" name="controllingDuration" class="radio-selected-controlling-cd" data-cost="3" {{#if (eq costDuration 3)}}checked{{/if}}>
    <label for="controllingDuration1">10 minutes x TB (3 cost)</label><br/>
    <input type="radio" id="controllingDuration2" name="controllingDuration" class="radio-selected-controlling-cd" data-cost="6" {{#if (eq costDuration 6)}}checked{{/if}}>
    <label for="controllingDuration2">1 hour x TB (6 cost)</label><br/>
  </div>
</div>
